<div class="menu">

  <div class="nav" style="margin-right: 20px; width:136px "><a href="#contacto" class="slow-down">Contacto</a></div>
  <div class="nav" style="width:135px"><a href="#contexto" class="slow-down">Contexto</a></div>

  <div class="nav" style="width:107px"><a href="#galeria" class="slow-down">Galería</a></div>
  <div class="nav" style="width:139px"><a href="#nosotros" class="slow-down">Nosotros</a></div>

  <div class="nav" style="width:93px"><a href="#inicio" class="slow-down">Inicio</a></div>

</div>


<img src="assets/portada.JPG" style="width:100%; margin-top:70px">

<div class="barra">
<div class="barra1"></div>
  <div class="barra2"></div>
<div class="barra3"></div>
</div>

<div class="row" id="nosotros">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

    <div class="margenes-superiores2">

  <div class="col-xs-6" style="padding:0 25px">

    <div class="titulo-blanco" >Quienes Somos</div>
    <div class="titulo-azul" style="color:#166565">Nosotros</div>
    <br>
    <div class="texto">
      <%= TextItem.all.first.nosotros %>
      </div>

  </div>

      <div class="col-xs-6" style="padding:0 25px">

        <div class="titulo-blanco">por qué</div>
        <div class="titulo-azul">elegirnos</div>
        <br>
        <div class="texto">

          <%= TextItem.all.first.elegirnos %>
        </div>

      </div>

  </div>
  </div>
  <div class="col-xs-1">
  </div>

</div>

<div class="que-hacemos" id="nosotros">


  <div class="col-xs-12">
    <br><br><br>
    <div class="titulo-blanco text-center">Qué Hacemos / Cómo Funciona</div>
    <div class="titulo-azul text-center">Energía solar</div>
    <br><br>
  </div>
  <div class="fondo-transparente">
<div class="row">
  <div class="col-xs-1"></div>

  <div class="col-xs-10">
    <div class="col-xs-3" data-toggle="modal" data-target="#sol">
      <div class="foto-y-fondo">
      <img src="assets/sol.PNG" style="width:100%;" class="iconos-info" >
        </div>
      <div class="texto-iconos ">energía solar</div>
    </div>

    <div class="col-xs-3 click mouse paneles" data-toggle="modal" data-target="#paneles">
      <div class="foto-y-fondo paneles" >
        <img src="assets/panel.png" style="width:100%;" class="iconos-info paneles-fondo">
      </div>
      <div class="texto-iconos paneles-texto">paneles/recepción de energía</div>
    </div>


    <div class="col-xs-3 click mouse paneles" data-toggle="modal" data-target="#paneles">
      <div class="foto-y-fondo paneles" >
      <img src="assets/energia.png" style="width:100%;" class="iconos-info paneles-fondo">
        </div>
      <div class="texto-iconos paneles-texto">potencia eléctrica</div>
    </div>

    <div class="col-xs-3 click mouse red" data-toggle="modal" data-target="#red">
      <div class="foto-y-fondo red" >
        <div class="fondo-verde " style=" width:50%; height: 76%;margin-top: 12%;"></div>
      <img src="assets/enchufe.png" style="width:100%; " class="iconos-info red-fondo">
        </div>
      <div class="texto-iconos red-texto">Conexíon Red Eléctrica</div>
    </div>
</div>
    <div class="col-xs-1"></div>




  </div>
    <div class="row">


      <div class="col-xs-1"></div>

      <div class="col-xs-10">

        <div class="col-xs-4 click mouse costos " data-toggle="modal" data-target="#costos">
          <div class="foto-y-fondo  costos">
    <img src="assets/plata.png" class="iconos-info costos-fondo" >
          </div>



          <div class="texto-iconos costos-texto" >disminución de costos</div>
  </div>

        <div class="col-xs-4 click mouse red " data-toggle="modal" data-target="#red">
          <div class="foto-y-fondo red">
          <img src="assets/equipo.PNG" style="width:100%;" class="iconos-info red-fondo">
            </div>
          <div class="texto-iconos red-texto">equipo</div>
        </div>


  <div class="col-xs-4 click mouse red" red data-toggle="modal" data-target="#red">
    <div class="foto-y-fondo red">
    <img src="assets/huellasi.png" style="width:100%;" class="iconos-info red-fondo">
      </div>
    <div class="texto-iconos red-texto">reducción huella de carbono</div>
  </div>

        </div>
        <div class="col-xs-1"></div>

      </div>
    </div>

  <div class="col-xs-2"></div>
  <div class="col-xs-8" style="margin-top:60px;margin-bottom:60px;">

  <div class="texto"  style="color:white">

    <%= TextItem.all.first.quehacemos %>
    <br>
    <%= TextItem.all.first.quehacemos2 %>

  </div></div>
  <div class="col-xs-2"></div>

</div>


<div class="barra">
  <div class="barra1"></div>
  <div class="barra2"></div>
  <div class="barra3"></div>
</div>

<div class="row" id="galeria">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

    <div class="margenes-superiores" style="margin-top: 0">

      <div class="col-xs-12">
        <div class="col-xs-6" style="padding-right:60px">

        <div class="titulo-blanco">videos</div>
        <div class="titulo-azul">proyectos</div>
        <br>
          <div class="ver-mas"><%= link_to "ver más videos", videos_url %></div>
        <% @video = Video.all.order(updated_at: :desc).first %>
          <% if @video != nil %>
          <iframe title="<%= @video.titulo %>" class="youtube-player" type="text/html"
                  src="http://www.youtube.com/embed/<%= @video.video %>"
                  frameborder="0" allowFullScreen></iframe>
          <div class="titulo-youtube"><%=@video.titulo %></div>
              <% end %>
 </div>
        <div class="col-xs-6" style="padding-left:60px">

          <div class="titulo-blanco">descripción</div>
          <div class="titulo-azul">proyectos</div>
          <br>
          <div class="ver-mas"><%= link_to "ver más proyectos", projects_url %></div>
          <% @project = Project.all.order(updated_at: :desc).first %>
          <% if @project != nil %>
              <%= link_to @project do %>
              <%= image_tag @project.image.url(:medium_1x), style:"width: 100%; height: 230px;"%>
                  <div class="titulo-youtube"><%=@project.nombre %></div>

        <% end %>

        <% end %>
        </div>


        <div class="col-xs-12" style="margin-top:40px">

          <div class="titulo-blanco" id="contexto">en qué estamos</div>
          <div class="titulo-azul">contexto</div>
          <div class="ver-mas"><%= link_to "ver más noticias", news_items_path %></div>



            <div class="row">
              <% NewsItem.order(updated_at: :desc).first(3).each do |news| %>

            <%= link_to news.link, :target => "_blank" do %>

            <div class="col-xs-4 videos-index links_claros">
                          <%= image_tag news.image.url(:medium_1x), style:"width:100%"%>

                          <div class="titulo-youtube"><%=news.titulo %></div>
                  <% end %>

                  </div>

          <% end %>

              </div>



        </div>


      </div>
    </div>
  </div>


  <div class="col-xs-1">
  </div>
</div>







<div class="contacto" id="contacto">


  <div class="col-xs-12">
    <br><br><br><br>
    <div class="titulo-blanco text-center">más información</div>
    <div class="titulo-azul text-center">Contacto</div>
    <br><br>
  </div>
  <div class="fondo-transparente">



    <div class="col-xs-3"></div>


    <div class="col-xs-2" style="position: relative; height: 200px">
      <a href="mailto:contacto@abantosenergy.com" class="email">
        <div class="foto-y-fondo  mail mouse">
          <img src="assets/mail.png" style="width:100%;" class="iconos-info mail-fondo">
        </div>
      </a>
    </div>
    <div class="col-xs-5">
      <div class="titulo-azul" style="color:white; font-size: 24px; margin-bottom: 5px">
      CONTACTO@ABANTOSENERGY.COM
        </div>
      <div class="texto" style="color:white">

        <%= TextItem.all.first.contacto %>

      </div>
    </div>




    <div class="col-xs-2"></div>


  </div>
  <div class="col-xs-1"></div>
    <div class="col-xs-10" style="margin:50px 0; height: 442px;">

  <div class="col-xs-3" style="padding: 0 30px; text-align: center">

      <img src="assets/rodolfo.png" class="foto-avatar">
    <div class="nombre">Rodolfo Ulloa<br></div>
    <div class="nombre">Iglesias<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">Industrial puc</div>
  </div>

  <div class="col-xs-3" style="padding: 0 30px; text-align: center;">
      <img src="assets/jaime.png" class="foto-avatar">
    <div class="nombre">Jaime Besa<br></div>
    <div class="nombre">Vergara<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">Estructural puc</div>
  </div>

  <div class="col-xs-3" style="padding: 0 30px;text-align: center;">
      <img src="assets/pablo.png" class="foto-avatar">
    <div class="nombre">Pablo Vila<br></div>
    <div class="nombre">Vomiero<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">Industrial puc</div>
  </div>


  <div class="col-xs-3" style="padding: 0 30px;text-align: center;  ">
      <img src="assets/tomas.png" class="foto-avatar">
    <div class="nombre">Tomás Durán<br></div>
    <div class="nombre">Godoy<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">Industrial puc</div>
    <div class="carrera">MSC. ingeniería eléctrica<br></div>

  </div>

</div>
  <div class="col-xs-1">



  </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="costos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Nuestra área industrial tiene como misión evaluar económicamente el proyecto para el cliente en cuestión.<br><br>
        El estudio se encarga de entregar indicadores pertinentes como VAN, Payback, Rentabilidad, Ahorro Mensual, entre otros, los cuales permiten contrastar el proyecto.

        <div class="row">
          <div class="col-xs-4"></div>

          <div class="col-xs-4">
          <div class="foto-y-fondo " style="width: 80%;
                  margin-left: 10%;
                  margin-bottom: 16px;
                  margin-top: 22px;" >
            <img src="assets/plata.png" class="iconos-info borde-icono iconos-verde" >
          </div>
          <div class="texto-iconos texto-popup">DISMINUCIÓN DE COSTOS</div>

        </div>
        </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="red" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Como equipo nos encargamos de ver todo lo relacionado con:<br><br>
        - Aspectos legales de conexión<br>
        - Beneficios anexos al económico<br>
        - Gestión y Logística de la instalación<br>
        - Relación personal con el cliente e inversionista
        <br>

        <div class="row">

          <div class="col-xs-4">
            <div class="foto-y-fondo" style="width: 80%;
                    margin-left: 10%;
                    margin-bottom: 16px;
                    margin-top: 22px;" >
              <img src="assets/enchufe.png" style="width:100%;" class="iconos-info borde-icono iconos-verde">
            </div>
            <div class="texto-iconos texto-popup">CONEXÍON RED ELéCTRICA</div>
          </div>


          <div class="col-xs-4">
            <div class="foto-y-fondo" style="width: 80%;
                    margin-left: 10%;
                    margin-bottom: 16px;
                    margin-top: 22px;" >
              <img src="assets/equipo.PNG" style="width:100%;" class="iconos-info borde-icono iconos-verde">
            </div>
            <div class="texto-iconos texto-popup">equipo</div>
          </div>



        <div class="col-xs-4">
          <div class="foto-y-fondo" style="width: 80%;
                  margin-left: 10%;
                  margin-bottom: 16px;
                  margin-top: 22px;" >
            <img src="assets/huellasi.png" style="width:100%;" class="iconos-info borde-icono iconos-verde">
          </div>
          <div class="texto-iconos texto-popup">REDUCCIÓN HUELLA DE CARBONO</div>
        </div>
        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="paneles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        El área técnica de la empresa se encarga de verificar la factibilidad estructural y eléctrica de la potencial planta solar, para luego gestionar su instalación y puesta en marcha.<br> <br>Considerando aspectos como:<br>
        - Diseño y disposición del edificio o terreno a evaluar.<br>
        - Viabilidad de la conexión entre la planta y la red eléctrica.

<div class="row">
  <div class="col-xs-2"></div>

  <div class="col-xs-4">
          <div class="foto-y-fondo" style="width: 80%;
                  margin-left: 10%;
                  margin-bottom: 16px;
                  margin-top: 22px;" >
            <img src="assets/panel.png" style="width:100%;" class="iconos-info borde-icono iconos-verde">
          </div>
          <div class="texto-iconos texto-popup">paneles/recepción de energía</div>
        </div>


  <div class="col-xs-4">
    <div class="foto-y-fondo"style="width: 80%;
            margin-left: 10%;
            margin-bottom: 16px;
            margin-top: 22px;"  >
      <img src="assets/energia.png" style="width:100%;" class="iconos-info borde-icono iconos-verde ">
    </div>
    <div class="texto-iconos texto-popup">potencia eléctrica</div>
  </div>

</div>

      </div>




      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

