<div class="menu">

  <div class="nav" style="margin-right: 20px; width:136px "><a href="#contacto">Contacto</a></div>
  <div class="nav" style="width:135px"><a href="#contexto">Contexto</a></div>

  <div class="nav" style="width:107px"><a href="#galeria">Galería</a></div>
  <div class="nav" style="width:139px"><a href="#nosotros">Nosotros</a></div>

  <div class="nav" style="width:93px"><a href="#inicio">Inicio</a></div>

</div>


<img src="assets/portada.JPG" style="width:100%; margin-top:70px">

<div class="barra">
<div class="barra1"></div>
  <div class="barra2"></div>
<div class="barra3"></div>
</div>

<div class="row" id="nosotros">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

    <div class="margenes-superiores2">

  <div class="col-xs-6">

    <div class="titulo-blanco" >Quienes Somos</div>
    <div class="titulo-azul" style="color:#166565">Nosotros</div>
    <br>
    <div class="texto">
      Ante el inminente auge de las nuevas fuentes de energía, somos el agente que desarrolla soluciones a las distintas necesidades del mercado. Entregamos servicios y productos integrales, apuntando a objetivos como optimización de la eficiencia energética y económica; desarrollo, administración y auditoría de proyectos de ingeniería;  además  de la realización de asesorías técnicas, legales, financieras y comerciales en ERNC.
    </div>

  </div>
  <div class="col-xs-6" style="height: 100%">
    <img src="assets/pajaro_solido.PNG" style="display: block;margin: 0 auto;height: 350px;">
  </div>
  </div>
  </div>
  <div class="col-xs-1">
  </div>

</div>

<div class="que-hacemos" id="nosotros">


  <div class="col-xs-12">
    <br><br><br>
    <div class="titulo-blanco text-center">Qué Hacemos / Cómo Funciona</div>
    <div class="titulo-azul text-center">Energía solar</div>
    <br><br>
  </div>
  <div class="fondo-transparente">
<div class="row">
  <div class="col-xs-1"></div>

  <div class="col-xs-10">
    <div class="col-xs-3">
      <img src="assets/sol.PNG" style="width:100%;">
      <div class="texto-iconos">energía solar</div>
    </div>

    <div class="col-xs-3">
      <img src="assets/panel.png" style="width:100%;">
      <div class="texto-iconos">paneles/recepción de energía</div>
    </div>

    <div class="col-xs-3">
      <img src="assets/energia.png" style="width:100%;">
      <div class="texto-iconos">potencia eléctrica</div>
    </div>

    <div class="col-xs-3">
      <img src="assets/enchufe.png" style="width:100%;">
      <div class="texto-iconos">Conexíon Red Electrica</div>
    </div>
</div>
    <div class="col-xs-1"></div>




  </div>
    <div class="row">


      <div class="col-xs-1"></div>

      <div class="col-xs-10">

        <div class="col-xs-4">
    <img src="assets/plata.png" style="width:100%;">
    <div class="texto-iconos">disminución de costos</div>
  </div>

        <div class="col-xs-4">
          <img src="assets/equipo.PNG" style="width:100%;">
          <div class="texto-iconos">equipo</div>
        </div>


  <div class="col-xs-4">
    <img src="assets/huellasi.png" style="width:100%;">
    <div class="texto-iconos">reducción huella de carbono</div>
  </div>

        </div>
        <div class="col-xs-1"></div>

      </div>
    </div>

  <div class="col-xs-2"></div>
  <div class="col-xs-8" style="margin-top:60px;margin-bottom:60px;">

  <div class="texto"  style="color:white">

    Chile es uno de los países con índices de radiación solar más altos del mundo, es por eso que tenemos una inmejorable ventaja comparativa en la generación de electricidad a través de esta fuente.
<br>
    La energía solar es una forma limpia, predecible y segura de rentabilizar espacios no utilizados tales como techumbres o terrenos aledaños a la industria o comercio. Por tanto es responsabilidad nuestra ser capaces de aprovechar este beneficio en pos de lograr una independencia de la matriz energética común y una reducción en gastos operacionales, colaborando así con un desarrollo sustentable en el largo plazo.
  </div></div>
  <div class="col-xs-2"></div>

</div>


<div class="barra">
  <div class="barra1"></div>
  <div class="barra2"></div>
  <div class="barra3"></div>
</div>

<div class="row" id="galeria">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

    <div class="margenes-superiores" style="margin-top: 0">

      <div class="col-xs-12">
        <div class="col-xs-5">

        <div class="titulo-blanco">videos</div>
        <div class="titulo-azul">proyectos</div>
        <br>
          <div class="ver-mas"><%= link_to "ver más videos", videos_url %></div>
        <% @video = Video.all.order(updated_at: :desc).first %>
          <% if @video != nil %>
          <iframe title="<%= @video.titulo %>" class="youtube-player" type="text/html"
                  src="http://www.youtube.com/embed/<%= @video.video %>"
                  frameborder="0" allowFullScreen></iframe>
          <div class="titulo-youtube"><%=@video.titulo %></div>
              <% end %>
        </div>
        <div class="col-xs-1">
        </div>

        <div class="col-xs-6">

          <div class="titulo-blanco">por qué</div>
          <div class="titulo-azul">elegirnos</div>
          <br>
          <div class="texto">

            Somos una empresa que se desarrolla bajo altos estándares de confiabilidad, profesionalismo y rigurosidad, entregando productos y servicios de clase mundial. Buscamos estrechar la brecha existente entre las problemáticas y requerimientos energéticos de los clientes y las soluciones innovadoras, contribuyendo a la diversificación y refresco de las matrices energéticas de Chile y Latinoamérica.
          </div>

        </div>


        <div class="col-xs-12" style="margin-top:40px">

          <div class="titulo-blanco" id="contexto">en qué estamos</div>
          <div class="titulo-azul">contexto</div>
          <div class="ver-mas"><%= link_to "ver más noticias", news_items_path %></div>



            <div class="row">
              <% NewsItem.order(updated_at: :desc).first(3).each do |news| %>

            <%= link_to news.link, :target => "_blank" do %>

            <div class="col-xs-4 videos-index links_claros">
                          <%= image_tag news.image.url(:medium_1x), style:"width:100%"%>

                          <div class="titulo-youtube"><%=news.titulo %></div>
                  <% end %>

                  </div>

          <% end %>

              </div>



        </div>


      </div>
    </div>
  </div>


  <div class="col-xs-1">
  </div>
</div>







<div class="contacto" id="contacto">


  <div class="col-xs-12">
    <br><br><br><br>
    <div class="titulo-blanco text-center">más información</div>
    <div class="titulo-azul text-center">Contacto</div>
    <br><br>
  </div>
  <div class="fondo-transparente">



    <div class="col-xs-3"></div>


    <div class="col-xs-2" style="position: relative; height: 200px">
      <a href="mailto:contacto@abantosenergy.com">
        <img src="assets/mail.png"  class="fondo-verde-hover">
      </a>
    </div>
    <div class="col-xs-5">
      <div class="titulo-azul" style="color:white; font-size: 24px; margin-bottom: 5px">
      CONTACTO@ABANTOSENERGY.COM
        </div>
      <div class="texto" style="color:white">

        Abantos Energy está atendida personalmente por sus dueños, lo cual se traduce en una rápida respuesta ante cualquier inquietud y a un alto grado de responsabilidad en las propuestas diseñadas para los clientes e inversionistas.
      </div>
    </div>




    <div class="col-xs-2"></div>


  </div>
  <div class="col-xs-1"></div>
    <div class="col-xs-10" style="margin:50px 0; height: 442px;">

  <div class="col-xs-3" style="padding: 0 30px; text-align: center">

      <img src="assets/rodolfo.png" class="foto-avatar">
    <div class="nombre">Rodolfo Ulloa<br></div>
    <div class="nombre">Iglesias<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">Industrial puc</div>
  </div>

  <div class="col-xs-3" style="padding: 0 30px; text-align: center;">
      <img src="assets/jaime.png" class="foto-avatar">
    <div class="nombre">Jaime Besa<br></div>
    <div class="nombre">Vergara<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">Estructural puc</div>
  </div>

  <div class="col-xs-3" style="padding: 0 30px;text-align: center;">
      <img src="assets/pablo.png" class="foto-avatar">
    <div class="nombre">Pablo Vila<br></div>
    <div class="nombre">Vomiero<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">Industrial puc</div>
  </div>


  <div class="col-xs-3" style="padding: 0 30px;text-align: center;  ">
      <img src="assets/tomas.png" class="foto-avatar">
    <div class="nombre">Tomás Durán<br></div>
    <div class="nombre">Godoy<br></div>
    <div class="cargo">co-founder<br></div>
    <div class="carrera">Ingeniero civil<br></div>
    <div class="carrera">MSC. ingeniería<br></div>

    <div class="carrera">Eléctrica puc</div>
  </div>

</div>
  <div class="col-xs-1">



  </div>
    </div>

