<div class="titulo-azul text-center" style="font-size:50px;margin-top: 40px;"><%= @news_item.titulo %></div>

<div class="barra" style="margin-top: 25px; margin-bottom:40px;">
  <div class="barra1"></div>
  <div class="barra2"></div>
  <div class="barra3"></div>
</div>

<p>
  <strong>Titulo:</strong>
  <%= @news_item.titulo %>
</p>

<p>
  <strong>Link:</strong>
  <%= @news_item.link %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @news_item.texto %>
</p>

<p>
  <strong>Image:</strong>
  <%= @news_item.image %>
</p>
